# folders
__pycache__/
.ipynb_checkpoints/
*results/
11;rgb:158e/193a/1e75.vscode/
temp/

# files
*.pdf
*.txt
*~
*.root
*.exe
*.npz
*.npy
*.h5
*.pkl
.submission_file*
*.pcm
*.DS_Store

# but keep the Results folder at the root
!Results/**